In [1]:
import math
import pandas as pd
import numpy as np

In [2]:
new_occ=15828
companies_occ=4675
newcompanies_occ=8
total_occ=14307668
prob_new=new_occ/total_occ
prob_companies=companies_occ/total_occ
expected_mean=prob_new*prob_companies
observed_mean=newcompanies_occ/total_occ
print(expected_mean,observed_mean)

3.614680769817115e-07 5.591407348842592e-07

In [3]:
s2=observed_mean
s2

5.591407348842592e-07

In [4]:
t=(observed_mean-expected_mean)/((math.sqrt(s2/total_occ)))
t

0.9999319894802036

In [5]:
alpha=2.576
if t<alpha:
    print("Not a collocation")
else:
    print("It is a collocation")

Not a collocation

In [6]:
dict1={1:[8,15820],2:[4667,14287173]}
obs=pd.DataFrame(dict1)
obs

       1         2
0      8      4667
1  15820  14287173

In [7]:
val1=(obs[1][0]+obs[1][1])*(obs[1][0]+obs[2][0])/(np.sum(obs[1])+np.sum(obs[2]))
val2=(obs[2][0]+obs[2][1])*(obs[1][0]+obs[2][0])/(np.sum(obs[1])+np.sum(obs[2]))
val3=(obs[1][0]+obs[1][1])*(obs[1][1]+obs[2][1])/(np.sum(obs[1])+np.sum(obs[2]))
val4=(obs[2][0]+obs[2][1])*(obs[1][1]+obs[2][1])/(np.sum(obs[1])+np.sum(obs[2]))

In [8]:
dict2={1:[val1,val3],2:[val2,val4]}
exp=pd.DataFrame(dict2)
exp

              1             2
0      5.171765  4.669828e+03
1  15822.828235  1.428717e+07

In [9]:
chi2=(((obs[1][0]-val1)**2)/val1)+(((obs[2][0]-val2)**2)/val2)+(((obs[1][1]-val3)**2)/val3)+(((obs[2][1]-val4)**2)/val4)
chi2

1.54886920672822

In [10]:
alpha=3.84
if chi2<alpha:
    print("Not a collocation")
else:
    print("It is a collocation")

Not a collocation

In [ ]:
import scipy.stats as stats

In [ ]:
def calculate_expected_frequency(row_total, column_total, grand_total):
    return (row_total * column_total) / grand_total

In [ ]:
# Input from the user
observed_count = int(input("Enter the observed count for 'new companies': "))
total_tokens = int(input("Enter the total number of tokens in the corpus: "))
new_count = int(input("Enter the count for 'new': "))
companies_count = int(input("Enter the count for 'companies': "))

In [ ]:
# Calculate expected frequencies
expected_new_companies = calculate_expected_frequency(new_count, companies_count, total_tokens)
expected_not_new_companies = total_tokens - expected_new_companies

# Create the contingency table
observed_table = [[observed_count, new_count - observed_count],
                  [companies_count - observed_count, total_tokens - new_count - companies_count + observed_count]]

# Perform chi-square test
chi2_stat, p_value, _, _ = stats.chi2_contingency(observed_table)

# Calculate degree of freedom
degrees_of_freedom = (len(observed_table) - 1) * (len(observed_table[0]) - 1)

In [ ]:
print("\nContingency Table:")
print("Observed frequencies:")
print(f"{'':<20}{'new companies':<15}{'not new companies':<15}")
print(f"{'new':<20}{observed_table[0][0]:<15}{observed_table[0][1]:<15}")
print(f"{'not new':<20}{observed_table[1][0]:<15}{observed_table[1][1]:<15}")

print("\nExpected frequencies:")
print(f"Expected frequency for 'new companies': {expected_new_companies}")
print(f"Expected frequency for 'not new companies': {expected_not_new_companies}")

print("\nChi-Square Test Results:")
print(f"Chi-square statistic: {chi2_stat}")
print(f"Degrees of freedom: {degrees_of_freedom}")
print(f"P-value: {p_value}")

In [ ]:
# Get input for probability level
confidence_level = float(input("Enter the confidence level (e.g., 0.05): "))
critical_value = stats.chi2.ppf(1 - confidence_level, df=degrees_of_freedom)

In [ ]:
# Interpret the results
print("\nCritical value:", critical_value)
if chi2_stat > critical_value:
    print("\nReject the null hypothesis")
    print("The collocation 'new companies' is statistically significant.")
else:
    print("\nFail to reject the null hypothesis")
    print("The collocation 'new companies' is not statistically significant.")

In [ ]:
# Additional interpretation
if p_value < confidence_level:
    print("\nReject the null hypothesis")
    print("The collocation 'new companies' is a good candidate.")
else:
    print("\nFail to reject the null hypothesis")
    print("The collocation 'new companies' is not a good candidate.")